name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install zig
      run: |
        wget --quiet https://ziglang.org/builds/zig-linux-x86_64-0.4.0+94bbb46c.tar.xz
        tar Jxf zig-linux-*.tar.xz
        rm zig-linux-*.tar.xz
        mv zig-linux-* zig-linux
        ls -lt .
    - name: zig version
      run: |
        export PATH=~/zig-linux:$PATH
        zig version
