name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install software
      run: |
        wget --quiet https://github.com/github/hub/releases/download/v2.12.3/hub-linux-amd64-2.12.3.tgz
        tar zxf hub-linux-*.tgz
        rm hub-linux-*.tgz
        mv hub-linux-* hub-linux
        ./hub-linux/bin/hub --version

        wget --quiet https://ziglang.org/builds/zig-linux-x86_64-0.4.0+94bbb46c.tar.xz
        tar Jxf zig-linux-*.tar.xz
        rm zig-linux-*.tar.xz
        mv zig-linux-* zig-linux
        ./zig-linux/zig version
    - name: test
      run: ./zig-linux/zig test src/main.zig
    - name: build
      run: ./zig-linux/zig build
    - name: release draft
      env:
        GITHUB_USER: $GITHUB_ACTOR
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        RELEASE_TAG=v$(date -u +%Y%m%d%tH%M%S)
        zip release.zip bin/zig-return-struct-arm64
        ./hub-linux/bin/hub release create --draft --prerelease --file release-message.md --attach release.zip $RELEASE_TAG
