name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install software
      run: |
        wget --quiet --output-document=- https://github.com/github/hub/releases/download/v2.12.3/hub-linux-amd64-2.12.3.tgz | tar zx
        mv hub-linux-* hub
        ./hub/bin/hub --version

        ZIG=$(wget --quiet --output-document=- https://ziglang.org/download/index.json | jq --raw-output '.master."x86_64-linux".tarball')
        wget --quiet --output-document=- $ZIG | tar Jxf
        mv zig-linux-x86_64-* zig
        ./zig/zig version
    - name: test
      run: ./zig/zig test src/main.zig
    - name: build
      run: ./zig/zig build
    - name: release draft
      env:
        GITHUB_USER: $GITHUB_ACTOR
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        #RELEASE_TAG=v$(date -u +%Y%m%dt%H%M%S)
        RELEASE_TAG=$(grep release_tag src/main.zig | sed 's/";//' | sed 's/^.*"//')
        RELEASE_ASSET=zig-return-struct-$RELEASE_TAG.zip
        zip $RELEASE_ASSET bin/zig-return-struct-arm64
        ./hub/bin/hub release create --draft --prerelease --file release-message.md --attach $RELEASE_ASSET $RELEASE_TAG
